body {
    width: 80%;
    margin: auto;
    background-image: linear-gradient(#ff23a8 , #23a5d2);
}

header h1 {
    color: white;
    text-align: center;
}

h3 {
    color: white;
    margin-top: 50px;
    clear: both;
}

strong {
    font-size: medium;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#happy_mood {
    float: left;
    overflow: hidden;
    display: inline;
}

#sad_mood {
    overflow: hidden;
    display: inline;
}

#footer{
    margin-top: 50px;
    text-align: right;
}

#footer a img{
    width: 100px;
}

a {
    text-decoration: none;
    color: white;
}

a:hover {
    text-decoration: underline;
}

p::first-letter{
    font-size: 40px;
}

dt{
    color: yellow;
}

/* #reversed{
    transform: rotate(180deg);
}
#reversed > li {
    transform: rotate(-180deg);
} */


#reversed { 
    display: flex;
    flex-direction: column-reverse;
}

#reversed li {
    flex: 0 0 auto;
}